body{
    padding-left: 55px;
    overflow-x
    : hidden;
}

#nav-enhanced{
    height: 55px;
    background-color: #d3d3d3;
    padding-top: 20px;
    width: 100%;
    z-index: 999999997;
    position: fixed;
    transform: rotate(90deg);
}

#nav-box{
    white-space: nowrap;
}

.nav-li{
    display: inline-block;
}

.li-category{
    vertical-align: top;
    height: 15px;
    white-space: nowrap;
    color: white;
    position: relative;
    z-index: 999999998;
}

.li-category p{
    text-align: center;
    display: none;
}

.nav-li-alt{
    padding-top: 15px;
    background-color: #232F3E;
}

#nav-list{
    list-style: none;
}

#nav-box{
    background-color: gray;
    height: 15px;
    width: 100%;
}

#indicator{
    position: absolute;
    z-index: 999999999;
    height: 15px;
    top: 20px;
    background-color: #febd69;
    opacity: .9;
}

#categories p{
    position: absolute;
    color: #232F3E;
    font-size: 12px;
}

.triangle-up{
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-bottom: 5px solid gray;
    position: absolute;
}

.triangle-down{
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-top: 5px solid #232F3E;
    position: absolute;
}
